
   h1{ text-align: center;
    background-color: rgb(66, 12, 66);
    color: white;
    padding: 20px;
    border-color: whitesmoke;
}

body{
    background-color: rgb(241, 197, 241);
}

h3{
    background-color: wheat;
    display: inline-block;
    color: rgb(97, 26, 97);
    padding: 10px;
}

p{
    font-style: inherit;
}

footer{
    background-color: rgb(66, 12, 66);
    color: white;
    
}

.s.list{
    display: inline-block;
    
}